* { 
	box-sizing: border-box;
}

html {
    font-size: 100%;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    position: relative;
    width: 100%;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('fonts/Gilroy-Bold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('fonts/Gilroy-ExtraBold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Gilroy-ExtraBold';
    color: #4B5079;
    font-weight: 100;
    font-size: 24px;
}


h2 {
    font-family: 'Gilroy-ExtraBold';
    color: #4B5079;
    font-weight: 100;
    font-size: 16px;
}

h3 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 16px;
}

h4 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 14px;
}

/* button text */

h5 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 12px;
}

p {
    font-family: 'Gilroy';
    font-size: 14px;
    color: #4B5079;
    line-height: 1.2rem;
    /* margin: .3rem 0 1rem; */
}

a, a:visited {
    font-family: 'Gilroy';
    font-size: 14px;
    color: #4B5079;
    /* margin: .3rem 0 1rem; */
}

a:hover {
    color: #FF645A;
    text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.25);
}

a:active {
    color: #8D436D;
    text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.25);
}


button {
    background-color: #FF746B;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    font-weight: 100;
    font-size: 18px;
    border-radius: 10rem;
    border: none;
    padding: .7rem 1.5rem;
    cursor: pointer;
}

button.redhover {
    background-color: #FF645A;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}
button.redhover:hover {
    background-color: #777CAB;
}
button.checkout:active, button.redhover:active {
    background-color: #E85454;
}


@media screen and (min-width: 750px) {
    p {
        font-size: 14px;
    }
}

/* HAMBURGER */


#menuToggle
{
  display: block;
  position: relative;
  top: 37px;
  left: 30px;
  width: 334px;
  z-index: 20;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  
    cursor: pointer;
  
    opacity: 0; /* hide this */
    z-index: 21; /* and place it over the hamburger */
  
    -webkit-touch-callout: none;
}

/*
 * hamburger
 */
#menuToggle span    {
    display: block;
    width: 16.5px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;
  
    background: #4B5079;
    border-radius: 3px;
  
    z-index: 20;
  
    transform-origin: 4px 0px;
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(42deg) translate(0px, 2px);
    background: #4B5079;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)  {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  z-index: 10;
  position: absolute;
  width: 106vw;
  margin: -100px 0 0 -50px;
  padding: 130px 0 50px 70px;
  height: 120vh;
  background: #E9F2FF;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

}

#menu li {
    font-family: 'Gilroy-ExtraBold';
    font-size: 35px;
    color: #4B5079;
    padding: 20px 0;
}

#menu, .menu-lunchbox, #menu li {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
    transform: none;
}

.menu-lunchbox {
    position: relative;
    top: 400px;
    left: -30px;
}


.nav {
    display:flex;
    padding: .25rem 2rem 1rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.navnhb {
    display:flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.nav h2 {
    display: flex;
    justify-content:center;
    align-items: center;
}

img.cart_icon {
    width:30px; 
    height:23px;
}

li.underline {
    float: left;
    clear: left;
}

.underline{
    /* 	display:inline-block; */
      position:relative;
        /*padding-bottom:2px; */
    }
    
    .underline:before {
        content:'';
        display:block;
        position:absolute;
        left:0;
        bottom:15px;
        height:4px;
        width:0;
        transition:width 0s ease, background .5s ease;
    }
    
    .underline:after {
        content:'';
        display:block;
        position:absolute;
        right:0;
        bottom:15px;
        height:4px;
        width:0;
        background: #4B5079;
        transition:width .5s ease;
    }
    
    .underline:hover:before {
        width:100%;
        background: #4B5079;
        transition:width .5s ease;
    }
    
    .underline:hover:after {
        width:100%;
        background:transparent;
        transition:all 0s ease;
    }

    .back {
        cursor: pointer;
    }

@media screen and (min-width: 750px) {

    h2 {
       font-size: 18px;
    }

    img.cart_icon {
        width:35px;
        height: 28px;
    }

    #menuToggle span    {
        display: block;
        width: 29px;
        height: 3px;
        margin-bottom: 6px;
        position: relative;

      
        background: #4B5079;
        border-radius: 3px;
      
        z-index: 20;
      
        transform-origin: 4px 0px;
      
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                  opacity 0.55s ease;
    }

    #menu{
    width: 500px;
    box-shadow: 0px 4px 10px #41275215;
    height: 106vh;
    }

    #menu li {
        font-size: 2.8rem;
    }

    .menu-lunchbox {
        position: relative;
        top: 480px;
        left: -70px;
    }

}






/* About Page */

.about_img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3.2rem;
}

.about_img h1 {
    padding-top: 0rem;
}

.about-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.3rem;
}

.about-card {
    background-color:#FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 5rem;
    box-shadow: 0px 4px 10px #41275215;
}

.about-card-text {
    text-align: center;
}


.about-card-text h4 {
    color: #FF645A;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.about-card-text h4 {
    padding-bottom: 0.5rem;
}

.about-card-text p {
    margin-top: -1rem;
}

.location-banner>a {
    text-decoration: none;
}

.tracklocation:hover {
    background-color: #4B5079;
}


/* About Info Query */


@media screen and (min-width: 750px) {

    .about-card {
        background-color:#FFFFFF;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2rem 8rem;
        box-shadow: 0px 4px 10px #41275215;
    }

    .about-card-text h4 {
        padding-bottom: 0.5rem;
        font-size: 20px;
    }

    .about-card-text p {
        font-size: 18px;
        margin-top: -1rem;
    }

    .about_img h1 {
        font-size: 30px;
        padding-top: 2rem;
    }

    h4.track {
        font-size: 18px;
    }

    img.location {
        width: 25px;
    }
}








/* Cart Page */

.empty {
    text-align: center;
    font-size: 18px;
    border-style: solid;
    border-color: #EDF0F4;
    border-width: 2px 0 2px 0;
    margin: 0;
    padding: 2rem 0;
}

button.edit, button.remove, button.tip, .tipClicked {
    background-color: #FFFFFF;
    font-family: 'Gilroy-Bold';
    font-size: 14px;
    border: 1.5px solid #4B5079;
    color: #4B5079; 
    border-radius: 5px;
    padding: .1rem 0.7rem;
    text-shadow: none;
}

button.edit:active, button.remove:active {
    background-color: #F2F7FF;
}

button.tip, .tipClicked, .tracklocation {
    padding: .4rem 1rem;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}

.tipClicked {
    background-color: #F2F7FF;
    border: none;
    padding: 0.6rem 1.2rem;
}

.continue_shopping {
    font-family: "Gilroy-Bold";
    color: #4B5079;
    font-size: 1.1rem;
}

.continue_center {
    background-color: #E9F2FF;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
    margin-top: 2rem;
    padding: .8rem 0;
    
    
}

.continue_shopping:visited {
    font-family:"Gilroy-Bold";
    color: #4B5079;
}

a.continue_shopping:hover {
    font-family:"Gilroy-Bold";
    color: #FF645A;
}

.continue_button {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.coupon_code {
    background-color: #FFFFFF;
    font-family: 'Gilroy';
    border: 1.5px solid #899BC7;
    color: #899BC7; 
    border-radius: 5px;
    padding: .5rem 1.2rem;
}

input.coupon_code {
    color: #4B5079;
}

.custom-select {
    width: 43.5px;
    position: relative;
    border-radius: 5px;
    background-color: none;
    color: #4B5079;
    font-family: "Gilroy-Bold";
    border: none;
    margin: 0 0 0 1rem;
    cursor: pointer;
    z-index: 1;
}

.custom-select select {
    display: none;
}

.select-selected {
    background-color: #E9F2FF;
    border-radius: 10px;
    width: 42px;
  }

  .select-selected:after {
    position: absolute;
    content: "";
    top: 17px;
    right: 6px;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-color: #4B5079 transparent transparent transparent;
    border-radius: 2px;
  }

  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #4B5079 transparent;
    top: 12px;
  }

  .select-items div,.select-selected {
    color: #4B5079;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  .select-items {
    position: absolute;
    background-color: #E9F2FF;
    top: 33px;
    left: -1px;
    z-index: 0;
    border-radius: 10px;
  }

  .select-hide {
    display: none;
  }

  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

.itemimg img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 30% 10%;
    border-radius: 5px;;

}

.addons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0 .5rem;
    overflow: scroll;
    margin: 0 2rem;

}

.itemdesc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.desctext {
    width: 75%;
}

.desctext p {
    color: #4B5079;
    margin-top: .3rem;
}

.title {
    width: 147px;
    margin: 0;
}

.itembuttons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.cart {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
}

.cartitem {
    display: flex;
    justify-content: center;
    flex-direction: row; 
    border-style: solid none solid none;
    border-color: #EDF0F4;
    border-width: 2px 0 2px 0;
    padding: 1.5rem 0;
    gap: 1rem;
}

.price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.price h1, .price h3, .total_price h3 {
    margin: .5rem;
}

.total_price {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 0.5rem;
}


.total {
    margin: 1.5rem 2rem 0;
}

.tips {
    padding-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    gap: .5rem;
    flex-direction: row;
}

.cobutton {
    padding-top: 4.75rem;
    padding-right: 2rem;
}

button.checkout {
    float: right;
    margin-bottom: 2rem;
}

.code {
    display: flex;
    flex-direction: column;
    justify-content: left;

}



/* Cart Payment Query */


@media screen and (min-width: 530px) {

.cartitem img {
    width: 80%;
    height: 100%;
    max-height: 150px;
}

.cart {
    display: flex;
    justify-content: center;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-style: solid none solid none;
    border-color: #EDF0F4;
    border-width: 2px 0 2px 0;
    padding: 2rem 0;
    max-width: 600px;
}

.addons {
    max-width: 700px;
}

.tips {
    margin: 0 0 0 .5rem;
}

.price h3, .total_price h3, .code h2, .title, .itemdetails h3, .tipClicked{
    font-size: 1.2rem;
}

button.tip{
    font-size: 16px;
}

.title {
    width: 29vw;
    max-width: 280px;
}

.continue_shopping {
    font-size: 1.3rem;
}

.please {
    display: flex;
    justify-content: center;
}

.continue_center {
    padding: .6rem 9.2rem;
    border-radius: 5px;
}

/* .totalcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
} */

}










/* ORDER DETAILS */

.orderdetails {
    padding-left: 2rem;
    margin-bottom: 1.2rem;
}

.orderdetails h3 {
    margin-bottom: -0.7rem;
}

h3.name {
    width: 100px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.orderdetails>p {
    margin: 0 0 2px;
}

.orderdetails>h1 {
    margin: 0 0 .5rem;
}

hr.menu2 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: #EDF0F4;
    border: none;
    height: 1px;
    text-align: center;
}

hr.menu3 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: #EDF0F4;
    border: none;
    height: 1px;
    text-align: center;
    display: none;
}

.cartitem2 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1rem;
    gap: 0.5rem;
}

.qty2 {
    border-radius: 5px;
    background-color: #E9F2FF;
    color: #4B5079;
    font-family: "Gilroy-Bold";
    border: none;
    padding: 0.3rem 0.8rem;
}

.detailsqty {
    justify-content: end;
}

.price1 {
    display: flex;
    justify-content: left;
    align-items: right;
    flex-direction: column;
}

.price2 h3 {
    text-align: right;
}

.price1 h3, .price2 h3 {
    margin-top: -0.05rem;
}

.price2 {
    display: flex;
    justify-content: right;
    align-items: left;
    flex-direction: column;
}

.test {
    padding-top: 19rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cobutton {
    display: flex;
    justify-content: right;
}

@media screen and (min-width: 600px) and (max-width: 1070px) {

    .order-details-container {
        width: 50%
    }

    .ocontainer {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .ocontainer h1 {
        font-size: 28px;
    }
    .cartitem2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-top: 1rem;
        gap: 0.5rem;
    }

}

@media screen and (min-width: 1070px) {

    .ocontainer {
        padding-top: 5rem;
        display: flex;
        justify-content: center;
    }

    .odesktop-flex {
        display: flex;
    }

    .test {
        margin-top: -1rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    hr.menu3 {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        background-color: #EDF0F4;
        border: none;
        height: 1px;
        text-align: center;
        display: block;
    }

    hr.menu4 {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0.5rem;
        background-color: #EDF0F4;
        border: none;
        height: 1px;
        text-align: center;
        display: block;
    }

    .price2 {
        display: flex;
        justify-content: right;
        padding-left: 8rem;
        align-items: left;
        flex-direction: column;
    }

    .total {
        border: 1px solid #EDF0F4;
        border-radius: 10px;
        margin-left: 1.5rem;
        padding: 2rem 1rem 0 1rem;
    }

    .total .cobutton {
        padding: 0;
    }

    .cobutton {
        padding-top: 2.5rem;
        padding-right: 1rem;
}
}



/* LOG IN PAGE */

.logincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

h4.petes {
    color: #FF746B;
    text-align: center;
    font-size: 0.938rem;
    text-shadow: 2px 2px 1px #41275215;
}

h2.welcome {
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 2px 2px 1px #41275215;
    margin-top: -1rem;
}

.loginform {
    display: flex;
    flex-direction: column;
}

#uname, #psw {
    width: 15rem;
    margin-top: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px; 
}

#loginbutton a, button.pay a, button.details a {
    text-decoration: none;
    color: #F2F7FF;
    font-family: 'Gilroy-Bold';
}

#uname, #psw {
    font-family: 'Gilroy';
    color: #777CAB;
    font-size: 0.75rem
}

#login {
    font-family: 'Gilroy-Bold';
    color: #777CAB;
    font-size: 0.75rem;
}

#loginbutton {
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 4.75rem;
    font-size:0.75rem;
    font-weight: bold;
    border-radius: 5px;
    align-self: center;
}

.psw {
    font-family: 'Gilroy';
    text-align: right;
    font-size: 0.75rem;
    color: #777CAB;
    text-decoration: underline;
    padding-top: 1rem;
}

.loginlink {
    text-align: center;
    font-size: 0.75rem;
    color: #4B5079;
    padding-top: 2rem;
}

.loginlink a {
    padding: 5px;
}

b.login {
    text-align: center;
    font-weight: 800;
}

.login-lunchbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}


@media screen and (min-width: 750px) {

    h4.petes {
        color: #FF746B;
        text-align: center;
        font-size: 20px;
        text-shadow: 2px 2px 1px #41275215;
    }
    
    h2.welcome {
        font-size: 3rem;
        text-align: center;
        text-shadow: 2px 2px 1px #41275215;
        margin-top: -1rem;
    }
    
    .loginform {
        display: flex;
        flex-direction: column;
    }
    
    #uname, #psw {
        width: 15rem;
        margin-top: 1rem;
        padding: 0.8rem;
        border: none;
        border-radius: 5px; 
    }
    
    #loginbutton a, button.pay a, button.details a {
        text-decoration: none;
        color: #F2F7FF;
        font-family: 'Gilroy-Bold';
    }
    
    #uname, #psw {
        font-family: 'Gilroy';
        color: #777CAB;
        font-size: 1rem;
    }
    
    #login {
        font-family: 'Gilroy-Bold';
        color: #777CAB;
        font-size: 1.25rem
    }
    
    #loginbutton {
        margin-top: 2rem;
        padding: .6rem 1rem;
        width: 5rem;
        font-size:0.75rem;
        font-weight: bold;
        border-radius: 5px;
        align-self: center;
    }
    
    .psw {
        font-family: 'Gilroy';
        text-align: right;
        font-size: 1rem;
        color: #777CAB;
        text-decoration: underline;
        padding-top: 1rem;
    }
    
    .loginlink {
        text-align: center;
        font-size: 1rem;
        color: #4B5079;
        padding-top: 2rem;
    }
}


@media screen and (min-width: 1280px) {

    .logincontainer {
        gap: 10rem;
        flex-direction: row;
    }

    .login-lunchbox img {
        width: 310.99px;
        height: 236.08px;
    }

    #uname, #psw {
        width: 26.392rem;
        margin-top: 1rem;
        padding: 0.8rem;
        border: none;
        border-radius: 5px; 
    }

    #loginbutton {
        margin-top: 2rem;
        padding: .6rem 1rem;
        width: 6.563rem;
        font-size:0.75rem;
        font-weight: bold;
        border-radius: 5px;
        align-self: center;
    }

    .loginlink {
        text-align: center;
        font-size: 1.5rem;
        color: #4B5079;
        padding-top: 2rem;
    }

    .loginlink a {
        font-size: 1.5rem;
        font-family: 'Gilroy-ExtraBold';
    }

    .psw {
        font-size: 1.25rem;
    }

    #uname, #psw {
        font-family: 'Gilroy';
        color: #777CAB;
        font-size: 1.25rem;
    }

}





/* Track Order */


h2.nav {
    text-align: center;
    margin: 0;
}

.pickup-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.pickup-card {
    background-color:#FFFFFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 19.25rem;
    height: 23rem;
    padding-top: 1.5rem;
    box-shadow: 0px 4px 10px #41275215;
}

img.checkout-lunchbox {
    width: 3.813rem;
    padding: 1.5rem 0;
}

.pickup-card-text {
    text-align: center;
    padding-bottom: 1rem;
}

.pickup-card-text .card-text {
    margin-top: -0.8rem;
}

.card-text {
    padding: 0;
}

.paymenthead {
    text-align: center;
    margin: 3rem 2rem 1rem;
}

.payment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    margin: 0 2rem;
}

.add-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-payment h4 {
    text-align: center;
}

button.add-card {
    text-align: center;
    padding: 0rem;
    width: 3rem;
    height: 3rem;
    align-self: center;
}

h4.pay {
    font-family: 'Gilroy-ExtraBold';
    color: #FFFFFF;
}

button.pay {
    text-align: center;
    width: 130px;
    height: 36px;
    padding: 0;
}

button.pay h4 {
    margin: 0;
}

.pay-button {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5#modal-switch:hover {
    cursor: pointer;
    color: #FF746B;
}

/* Checkout Info Query */


@media screen and (min-width: 750px) {

    .pickup-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h5.card-text {
        font-size: 1.263rem;
    }

    h4.card-text {
        font-size: 1.026rem;
    }

    h1.card-text {
        font-size: 2.5rem;
    }

    .pickup-card {
        background-color:#FFFFFF;
        border-radius: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 24.313rem;
        height: 30.233rem;
        box-shadow: 0px 4px 10px #41275215;
    }

    h4.paymenthead {
        font-size: 1.263rem;
        padding-bottom: 1rem;
    }

    img.checkout-lunchbox {
        width: 5rem;
        margin-top: 2.5rem;
        padding: 1.5rem 0;
    }

    .add-payment h4 {
        text-align: center;
        font-size: 1.105rem;
    }

    button.pay {
        text-align: center;
        width: 140px;
        height: 40px;
        padding: 0;
    }

}


@media screen and (min-width: 1000px) {

    .pickup-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 80vh;

    }

    .credit-card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 3rem;
        
    }

}







/* Edit Menu Item */

body.edit-item {
    background-color: #FFFFFF;
}

.menu-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-item-img img {
/* width: 23.438rem; */
    height: 300px;
    width: 100%; 
    object-fit: cover;
    object-position: 20% 10%;
}

.menu-item-description {
    padding-top: 1rem;
}

.menu-item-description>h1 {
    margin-bottom: 0;
    font-size: 1.6rem;
}

.menu-item-description>p {
    margin-top: .4rem;
    font-size: 1rem;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.editwrap {
    margin: 0 2rem;
}

.quantity-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.filter {
    color: #899BC7;
    margin-right: -1rem;
}

label {
    font-size: 18px;
    color: #4B5079;
    font-family:"Gilroy-Bold";
    letter-spacing: 0.5px;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="checkbox"] {
    cursor: pointer;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding: 0 0 0 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radiomark {
    position: absolute;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #899BC7;
    border-radius: 50%;
    box-shadow: 0px 2px 3px 0px #0000001a inset;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .radiomark {
    background-color: #E9F2FF;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .radiomark {
    background-color: #899BC7;
    box-shadow: 0px 2px 3px 0px #0000001a inset;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiomark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .radiomark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .radiomark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #899BC7;
  }

  /* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border-style: solid;
    border-color: #899BC7;
    border-width: 2px;
    border-radius: 2px;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #E9F2FF;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #899BC7;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3.5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.radio-buttons, .toppings-checklist {
    padding-left: 1rem;
    margin-top: -0.2rem;
}

hr.menu { 
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    background-color: #EDF0F4;
    border: none;
    height: 1px;
    text-align: center;
    transform: translateX(-1rem);
}

button.add-to-cart {
    margin: 0 2rem 2rem 0;
    position: fixed;
    bottom: 0;
    right: 0;
}

.additional-notes-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.additional-notes h3 {
    text-align: left;
    padding-top: 1rem;
    font-size: 18px;
}


#additional-notes {
    width: 100%;
    margin-bottom: 6rem;
    background: #FFFFFF;
    border: 1px solid #DCE0E4;
    box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-family: 'Gilroy';
}




@media screen and (min-width: 750px) {

    .econtainer {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }

    .edit-item-container {
        width: 70%;
    }

    .menu-item-img img {
        /* width: 23.438rem; */
            border-radius: 5px;
            height: 100%;
            width: 100%; 
            object-fit: contain;
            height: 400px;
            width: 100%; 
            object-fit: cover;
            object-position: 20% 20%;
        }

}

@media screen and (min-width: 1280px) {
    .menu-item-img img {
            height: 100%;
            width: 100%; 
            object-fit: contain;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

    .edesktop-flex {
        display: flex;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 6px 10px #41275215;
    }

    .quantity-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clear {
        padding-top: 7rem;
    }


    body.edit-item {
        background-color: #F8FAFF;
    }

    .menu-item-list {
        display: flex;
        padding-top: 1rem;
    }

    .bread, .toppings {
        width: 50%;
        padding-left: 1rem;
    }
}


/* Track Order Page */

.location-banner {
    text-align: center;
    background-color: #899BC7;
    padding: 0.15rem;
}

a.track:visited {
    text-decoration: none;
}
  
.lunchbox-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-top: 2rem;
}

.tracking-meter {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-align: center;
}

.thank-you-text {
text-align: center;
padding-bottom: 2rem;
}

.tracking-text {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #41275215;
}

.tracking-meter h3 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 1.125rem;
}

.tracking-meter p {
    font-family: 'Gilroy-Bold';
}

.thank-you-text h1 {
    font-size: 1.125rem;
    padding-left: 6rem;
    padding-right: 6rem;
    line-height: 1.5rem;
}

.tracking-text h3 {
    font-family: 'Gilroy-ExtraBold';
    font-size: 0.75rem;
}


button.details, button.issue {
    background-color: #FF746B;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
    font-weight: 100;
    font-size: 18px;
    border-radius: 10rem;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
}

button.details h4, button.issue h4 {
    margin: 0;
}

.issues {
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h4#issue {
    margin: 0;
    padding-bottom: 0.5rem;
}

h1.thanks {
    margin-top: -0.2rem;
    font-size:30px;
}

@media screen and (min-width: 750px) {

    .tracking-meter {
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        text-align: center;
    }

    .tracking-text {
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 8rem;
        margin-right: 8rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-radius: 5px;
        box-shadow: 0px 2px 2px #41275215;
    }

    .thank-you-text h1 {
        font-size: 1.5rem;
        padding-left: 6rem;
        padding-right: 6rem;
        line-height: 1.5rem;
    }

    p.thanks {
        font-size: 1rem;
    }
    
    h1.thanks {
        margin-top: -0.2rem;
        font-size: 2.5rem;
    }

    .tracking-text h3 {
        font-family: 'Gilroy-ExtraBold';
        font-size: 1rem;
    }

    .location-banner h4 {
        font-size: 1.25rem;
    }

    button.details, button.issue {
        background-color: #FF746B;
        font-family: 'Gilroy-Bold';
        color: #FFFFFF;
        font-weight: 100;
        font-size: 22px;
        border-radius: 10rem;
        border: none;
        padding: 0.9rem 1rem;
        cursor: pointer;
    }

}




/*Menu*/

/** Icon */
.a-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    fill: currentColor;
  }
  .a-icon__asset {
    display: block;
    width: 100%;
    height: 100%;
  }
  /** Heart Icon */
  .a-icon--heart {
    color: #525252;
    position: relative;
    top: 45px;
    left: 110px;
    margin: 0;
    filter: drop-shadow(.5px 1px .3px #4B5079 );
    cursor: pointer;
    transform: translateZ(0);
    transition: 0.2s ease-in-out transform;
  }
  .a-icon--heart .a-icon--heart__stroke {
    fill: #ffffff;
    opacity: 1;
    transform: translateZ(0);
    transition: 0.2s ease-in-out opacity;
  }
  .a-icon--heart .a-icon--heart__fill {
    fill: #f53d37;
    opacity: 0;
    transform: translateZ(0);
    transition: 0.2s ease-in-out opacity;
  }
  .a-icon--heart:hover {
    transform: scale(1.15) translateZ(0);
  }
  .a-icon--heart.is-active {
    animation: scale-up 0.25s cubic-bezier(0.77, -0.19, 0.33, 1.12);
  }
  .a-icon--heart.is-active .a-icon--heart__stroke {
    opacity: 0;
  }
  .a-icon--heart.is-active .a-icon--heart__fill {
    opacity: 1;
  }
  @keyframes scale-up {
    50% {
      transform: scale(1.3);
    }
  }
  /** Utilities */
  .hide {
    display: none;
  }

  span>.js-heart {
      display: inline-block;
  }
  
  


/* Modal CSS */

.modal {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 4px rgba(0,0,0,0.25);
  }
  
  
  .modal-close-btn {
    position: absolute;
    right: 1px;
    top: -6px;
    font-size: 20px;
    background: none;
    color: #4B5079;
  }
  
  /** Overlay */
  .overlay {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  
  /** JS */
  .is-visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  

  h4.modal-header {
    margin-top: -0.5rem;
    padding-top: 1rem;
    text-align: center;
    font-family: 'Gilroy-Bold';
    color: #4B5079;
  }
  
  /* .modal-header {
  /*   background: #E9F2FF; 
  } */
  
  .modal-dropdowns {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
  }
  
  select.day, select.time {
    padding: 0.5rem;
    color: #4B5079;
    font-family: 'Gilroy-Bold';
    border-color: #9193BC;
    border-radius: 5px;
  }
  
  .today {
      border-radius: 5px;
      background-color: #E9F2FF;
      color: #4B5079;
      font-family: "Gilroy-Bold";
      border: none;
      padding: 0.3rem 0.8rem;
      margin: 0 0 0 8rem;
  }
  
  
  /* BUTTON */
  
  .start-order {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
  }
  
  .start-order h4 {
    margin: 0rem;
    font-family: "Gilroy-Bold";
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: white;
  }

  button.redhover2 {
    border-radius: 5px;
    color: #FFFFFF;
  }
  
  
  button.redhover2 {
      background-color: #FF645A;
      transition: 0.25s;
      transition-timing-function: ease-in-out;
  }
  button.redhover:hover {
      background-color: #777CAB;
  }
  button.checkout:active, button.redhover:active {
      background-color: #E85454;
  }

  .time-dropdown {
      font-family: "Gilroy-Bold";
  }

  .modal-header {
    background: #E9F2FF;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 2.5rem;
    border-radius: 5px 5px 0 0;
}

.time-modal {
    padding-top: 2rem;
}
  

  /* End of modal css */





.ordertime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem 0;
    border-style: none none solid none;
    border-color: #EDF0F4;
    border-width: 0 0 2px 0;
}

.pricetag {
    position: relative;
    top: 110px;
    left: 72px;
    margin: 0;
    padding: 0.5rem 0.5rem;
    background-color: #F8FAFF;
    border-radius: 5px 5px 5px 5px;
    text-decoration: none;
}

.pricetag-test {
        position: relative;
        top: -31px;
        left: 60px;
        margin: 0;
        padding: 0.4rem 0.6rem;
        background-color: #F8FAFF;
        border-radius: 5px 5px 5px 5px;
        text-decoration: none;
}

/* .heart {
    position: relative;
    top: -110px;
    left: 110px;
    margin: 0;
    padding: 0.2rem 0.6rem;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
}

[id='toggle-heart'] {
        position: absolute;
        left: -100vw;
      }

  [id='toggle-heart']:checked + label {
    color: #e2264d;
} */

/* .heart:after {
    position: relative;
    top: -110px;
    left: 115px;
    margin: 0;
    padding: 0.2rem 0.6rem;
    color: #ffffff;
    width: 50px;
    text-decoration: none;
} */


.lunchtag {
    top: -24px;
    left: 95.5px;
}

.imgprice {
    text-decoration: none;
    color: #4B5079;
    font-size: 12px;
    font-family: 'Gilroy-Bold';
}

.now h4, .now p {
    margin: 0;
}

.now h4 {
    font-family: 'Gilroy-ExtraBold';
    letter-spacing: 0px;
}

.now {
    width: 110px;
    text-align: center;
}

.later h4{
    color: #4B5079;
}

.switch input[type=checkbox]:checked #orderlater{
    color: #794b4b;
}

.sectionhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 0;
}

.scrollmenu {
    display: flex;
    overflow: scroll;
    gap: 1.5rem;
    padding: 0 1rem 1rem;
    border-style: none none solid none;
    border-color: #EDF0F4;
    border-width: 0 0 2px 0;
}

.emptybox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emptybox p {
    line-height: 1.3rem;
}

.emptybox img {
    width: 89px;
}

.menu {
    margin: 0 2rem 1rem;
}

.menuitem img {
    width: 150px;
}

.menuitem {
    margin: 0 0 2rem;
    width: 150px;
    position: relative;
    top: -20px;
}

.menuitem a {
    text-decoration: none;
    color: #4B5079;
    font-family: 'Gilroy-Bold';
}

.menuitem h3 {
    margin: .5rem 0 0;
}

.switch {
    display: inline-flex;
    margin: 0 10px;
}
.switch input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
.switch input[type=checkbox]:checked + label {
    background: #C8DBF1;
}
.switch input[type=checkbox]:checked + label::after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
}
.switch label {
    cursor: pointer;
    width: 96px;
    height: 32px;
    background: #C8DBF1;
    display: block;
    border-radius: 24px;
    position: relative;
}
.switch label::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 40.08px;
    height: 24px;
    background: white;
    border-radius: 16px;
    transition: 0.3s;
}

#cartadded {
    width: 40px;
    height: auto;
}

@media screen and (min-width: 750px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 704px;
        margin: 0 0 1rem;
    }

    .middle {
        display: flex;
        justify-content: center;
    }

    .menusectionlb, .menusection {
        width: 100%;
    }

    .emptybox p {
        text-align: center;
        font-size: 16px;
        line-height: 1.3rem;
    }
    
    .emptybox img {
        width: 150px;
    }


}





/*lunch*/

.lunchitems {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.lunchhead {
    display: flex;
    background-color: #E6EFFF;
    height: 170px;
    justify-content: center;
    align-items: center;
}

.menusection .menuitem {
        top: 0;
    }

.empty-recent img {
    width: 200px;
}
/*
.search {
    display: flex;
    justify-content: center;
}

.search input {
    border-radius: 67px;
    box-shadow: inset 0px 2.71287px 13.5644px rgba(0, 0, 0, 0.05);
    background-color: #F8FAFF;
    font-family: 'Gilroy-Bold';
    color: #4B5079;
    height: 27px;
    width: 258px;
    border: none;
    margin: 1rem 0;
    padding: 0 1rem;
}*/


@media screen and (min-width: 750px) {

    .lunchhead {
        height: 223px;
    }

    .catsection {
        max-width: 650px;
    }

    .lunchitems {
        justify-content: flex-start;
    }
}









/* ACCOUNT PAGE */

h3.account {
    margin-left: 2rem;
    padding-top: 1rem;
}

h3.card {
    margin-left: 2rem;
    padding-top: 1rem;
}
.info-card {
    background-color: #E9F2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.info-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.info-email {
    display: flex;
    justify-content: center;
}

.info-buttons h4, .info-buttons2 h4, .save-changes h4 {
    margin: 0;
    color: white;
    font-size: 10px;
}

.info-buttons button, .infobuttons2 button {
    margin-bottom: 1rem;
}

input#fname, input#lname {
    border-radius: 5px;
    border: none;
    width: 7.313rem;
    padding: 0.7rem;
    margin-top: 0.3rem;
}

.info-email {
    margin-top: -1rem;
}

input#email {
    border-radius: 5px;
    border: none;
    width: 16.125rem;
    padding: 0.8rem;
    margin-top: 0.3rem;
}

.info-card2 {
    background-color: #E9F2FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.info-buttons2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.other-info {
    margin: 2rem;
}

.other-info h2 {
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Gilroy-Bold';
    padding: 1.3rem;
    transition: 0.25s;
    transition-timing-function: ease-in-out;
}

.other-info h2:active {
    background-color: #F2F7FF;
}
.other-info h2:hover {
    background-color: #F2F7FF;
    cursor: pointer;
}

hr.info {
    margin: 0;
    background-color: #899BC7;
    border: none;
    height: 1px;
    text-align: center;
}

.other-info img {
    float: right;
    padding-top: 0.2rem;
    margin-right: 2.5rem;
}

.save-changes {
    float: right;
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin-right: 2rem;
}

/* Account Page Media Query */


@media screen and (min-width: 750px) {

    .flexaccount {
        float: left;
        width: 50%;
    }
    .other-info {
        float: left;
        width: 93%;
    }

    .info-card2 {
        padding: 2.6rem 1rem;
    }

    h3.account, h3.card {
        font-size: 18px;
        margin-left: 6rem;
        padding-top: 1rem;
    }

    .save-changes {
        float: right;
        padding-top: 1rem;
        padding-bottom: 2rem;
        margin-right: 4rem;
    }

    .info-buttons h4, .info-buttons2 h4, .save-changes h4 {
        margin: 0;
        color: white;
        font-size: 12px;
    }

    .info-buttons2 {
        padding-top: 2rem;
        padding-bottom: 1rem;
        display: flex;
        gap: 10px;
        justify-content: center;
        flex-direction: column;
    }

}





/* General Media Queries */


@media screen and (min-width: 750px) {

    h2 {
       font-size: 18px;
    }

    img.back {
        width: 20px;
    }


}