* { 
	box-sizing: border-box;
}

html {
    font-size: 100%;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Medium.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-Bold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('fonts/Gilroy-ExtraBold.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Gilroy-ExtraBold';
    color: #4B5079;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 24px;
}


h2 {
    font-family: 'Gilroy-ExtraBold';
    color: #4B5079;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 16px;
}

h3 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
}

/* button text */

h5 {
    font-family: 'Gilroy-Bold'; 
    color: #4B5079;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 1px;
}

p, ul {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color: #ffffff;
    line-height: 1.8;
    margin: .3rem 0 1rem;

}

li {
    margin-bottom: .7rem;
}

button {
    background-color: #FF746B;
    font-family: 'Gilroy-Bold';
    color: #FFFFFF;
    font-weight: 100;
    font-size: 18px;
    border-radius: 10rem;
    border: none;
    padding: .7rem 1.5rem;
    cursor: pointer;
}

.nav {
    display:flex;
    padding-top: 1rem;
    justify-content: space-around;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
}

.nav h2 {
    display: flex;
    justify-content:center;
    align-items: center;
}





/* Cart Page */

button.edit, button.remove {
    background-color: #FFFFFF;
    font-family: 'Gilroy-Bold';
    font-size: 12px;
    border: 1.5px solid #899BC7;
    color: #899BC7; 
    border-radius: 5px;
    padding: .1rem 0.7rem;
}

button.tip {
    background-color: #FFFFFF;
    font-family: 'Gilroy-Bold';
    border: 1.5px solid #899BC7;
    color: #899BC7; 
    border-radius: 5px;
    padding: .4rem 1.2rem;
}

.continue_shopping  {
    font-family:"Gilroy-Bold";
    color: #899BC7;
    font-size: 14px;
    display: flex; 
    padding-top: 1rem;
    justify-content: center;
}

.continue_shopping:visited {
    font-family:"Gilroy-Bold";
    color: #899BC7;
    font-size: 14px;
}

.coupon_code {
    background-color: #FFFFFF;
    font-family: 'Gilroy-Medium';
    border: 1.5px solid #899BC7;
    color: #899BC7; 
    border-radius: 5px;
    padding: .5rem 1.2rem;
}

.qty {
    border-radius: 5px;
    background-color: #E9F2FF;
    color: #4B5079;
    font-family: "Gilroy-Bold";
    border: none;
    padding: .5rem 0.8rem;
    margin: 0 0 0 1rem;
}

.itemimg img {
    width: 100px;
    height: 100px;
}

.addons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem;
}

.itemdesc {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.title {
    width: 147px;
}

.itembuttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
    padding-top: 1rem; 
}

.cartitem {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}